
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*setea todos las propiedades que traigan los elementos por defecto*/
}

body{
    font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: #191c32;
    color: blueviolet;
    overflow-x: hidden;
  }

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand{
    margin-top: -7px;
}

.brand span{
    color: aqua;
}

.menu{
    display: flex; /*pone las a de las li una al lado de la otra*/
    width: 50%; /*lo que va a ocupar de mi display*/
    justify-content: space-around;
}

.menu li {
    list-style: none; /*le saca la viñeta*/
}

/*todas las etiquetas que tiene el menu van a ser de color rojo*/
.menu a{
    color: aqua;
    text-decoration: none; /*le saca el subrayado*/
    padding: 10px 20px; /*ancho y alto*/
}

/*le pone un recuadro de color al a que esta seleccionado*/
.menu a:hover{
    background-color: aqua;
    color: #191c32;
    transition: ease-in .4s;
}

.menu .activo{
    color: aqua;
}

.main{
    margin: 0 auto;
    width: 80vw;/*hace que se separe de los margenes laterales*/
    height: 80vh; /*no vi que haga nada*/
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    
}

h1{
    font-size: 3em;
}

span{
    color: aqua;
}

.main img{
    width: 350px;
    border: 7px solid aqua;
    filter: grayscale(100%);
    margin-left: 3em;
    
}

.main p{
    font-size: 1.5em;
}

.download-cv{
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69); /*el ultimo item es la opacidad*/
}

.download-cv:hover{
    background-color: #fff;
    box-shadow: none;
}

a{
    text-decoration: none;
}

.about{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-items: center;
}

.about img{
    width: 100%;
    height: auto;
    grid-column: 1/5; /*de los 10, de donde a donde quiero que ocupe*/
    filter: grayscale(100%);
}

.about-info{
    grid-column: 5/10;
    padding: 3em;
}

.about-info h2{
    font-size: 2em;
    color: #191c32;
}

.about p{
    font-size: 1.5em;
}

.divisor{
    height: 4px;
    width: 60px;
    background-color: aqua; /*porque no es un texto*/
    margin-top: 5px;
    margin-bottom: 1em;
}

.about-info p{
    margin-bottom: 1em;
}

.portfolio,
.contact-section{
    width: 100%;
    background-color: #191c32;
    padding-bottom: 4em;
}

.portfolio-headeings{
    width: 100%;
    padding: 5em 5em 1em 5em;
    flex-direction: column;
    justify-content: center;
}

.portfolio-headeings h2,
.contact-heading h2,
.aptitudes-heading h2{
    font-size: 2.5em;
    color: blueviolet;
}

.portfolio .container{
    width: 70vw;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    grid-gap: 2em;
    grid-row-gap: 20px;
    justify-items: center; /* Centra horizontalmente las tarjetas */
    align-items: center; /* Centra verticalmente las tarjetas */
    
}

.card{
    width: 90%;
    height: auto;
    color: #fff;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea el contenido en la parte superior */
}

.card__img_1{
    width: 100%;
    height: 250px;
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url(./img/GranCerdo_Presentacion.PNG);
    transition: background-image 0.3s ease;
}

.card__img_1:hover {
    background-image: url(./img/GranCerdo_Juego_02.PNG);    
}

.card__img_2{
    width: 100%;
    height: 250px;
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url(./img/Qatarsis.png);
    transition: background-image 0.3s ease;
}
.card__img_2:hover {
    background-image: url(./img/Qatarsis_02.PNG);    
}

.card__img_3{
    width: 100%;
    height: 250px;
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url(./img/ControlArticulos.jpg);
    transition: background-image 0.3s ease;
}
.card__img_3:hover {
    background-image: url(./img/ControlArticulos02.jpg);    
}

.card__img_4{
    width: 100%;
    height: 250px;
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url(./img/Portfolio.PNG);
    transition: background-image 0.3s ease;
}
.card__img_4:hover {
    background-image: url(./img/Portfolio02.PNG);    
}

.card__title{
    padding: 20px;
    font-size: .8em;
}

.card__projects-links{
display: flex;
justify-content: space-evenly;
margin-bottom: 1em;
object-position:bottom;
}

.card__projects-links a {
color: #fff;
}

.card__projects-links i {
    font-size: 1.5em;
}

.aptitudes-section{
    padding: 5em 5em 1em 5em;
    color: #fff;
}

.lenguajes{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 5em;

}

.lenguajes img{
    width: 10vw;
}

.contact-section {
    padding: 5em 5em 1em 5em;
    color: #fff;
}

.container-contact {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-section img {
    width: 400px;
    bottom: 0px;
    margin: 3em;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
}

.form-group textarea {
    height: 150px;
    padding: 1.5em;
    background: none;   
    border: 1px solid #fff;
    color: #fff;
}

.form-group .input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.form-group .btn-submit {
    padding: 10px 20px;
    margin: 1em;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    background-color: aqua;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    padding: 2em;
    background-color: aqua;
}
  
.footer-content h2 {
    font-size: 3em;
}
  
.footer-content h5 {
    font-size: 1.5em;
    text-align: center;
}
  
.sotial-networks {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
}
  
.sotial-networks i {
    font-size: 1.5em;
}

.sotial-networks a {
    color:#191c32;
    }